---
layout: default
image: /images/fulls/01.jpg
---
<div id="menu" class="menu">
	<dl>
		<dt>Menu 1</dt>
		<dd>
			<ul>
				<li><a ref="">Sous-Menu1a</a></li>
				<li><a ref="">Sous-Menu1b</a></li>
				<li><a ref="">Sous-Menu1c</a></li>
				<li><a ref="">Sous-Menu1d</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>Menu 2</dt>
		<dd>
			<ul>
				<li><a ref="">Sous-Menu2a</a></li>
				<li><a ref="">Sous-Menu2b</a></li>
				<li><a ref="">Sous-Menu2c</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>Menu 3</dt>
		<dd>
			<ul>
				<li><a ref="">Sous-Menu3a</a></li>
				<li><a ref="">Sous-Menu3b</a></li>
				<li><a ref="">Sous-Menu3</a></li>
				<li><a ref="">Sous-Menu3d</a></li>
			</ul>
		</dd>
	</dl>
</div>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>
    <div>
      {{ post.excerpt }}
    </div>
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}/{{paginator.previous_page_path}}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}/{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
